.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1280px) {
  .list {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .list {
    padding: 0;
  }
}
